node_modules/
logs/
src/

_dev/src/
_dev/installer/target/
_dev/installer/legacy/
_dev/extensive/
_dev/autobuilder
_dev/montages
_dev/etc

jackbox-forsen-pack-6.zip
*.pfx
*.cer
*.crt
*.jshint
*.bak

notes.txt